### react ###
.DS_*
*.log
logs
**/*.backup.*
**/*.back.*
.vscode/*

/dist/
/build/

.vite/

*.tsbuildinfo

node_modules
bower_componets

.env
.env.*.local

# macOS
.DS_Store

# Linux
*~

# Misc
.cache/
.npm