### react ###
.DS_*
*.log
logs
**/*.backup.*
**/*.back.*
.vscode/*

/dist/
/build/

.vite/

*.tsbuildinfo

node_modules
bower_componets

.env
.env.*.local

# macOS
.DS_Store

# linux
*~

# misc
.cache/
.npm

# ignore everything under swag/config
swag/config/**

# keep custom proxy
!swag/config/nginx/site-confs/renburnett.conf

# and other site-confs
!swag/config/nginx/site-confs/*.conf