.layout-container {
  height: 100vh;
  display: flex;
  flex-direction: column;

  .navbar {
    height: 50px;
    background-color: blue;
  }

  .main {
    height: 100%;
  }
}

.footer {
  margin-top: auto;
  height: 50px;
  background-color: red;
}