.layout-container {
  height: 95vh;
  display: flex;
  flex-direction: column;

  main {
    margin: auto;
  }
}

.footer {
  padding: 10px;
  background-color: rgba(0, 200, 200, 0.35);
  //TODO: update these styles
}