.canvas-container {

  canvas {
    display: block;
    margin-bottom: 0;
    border: 1px solid grey;
    background-color: white;
    border-radius: 3px;
  }

  .button-container {
    margin: 0.5rem;
    margin-left: 0;

    .ui.button > .play.icon {
      margin: 0;
    }
  }
}