.about-card-group {
  margin: auto 0 !important;
}

.about-card {
  min-width: 25rem !important;
}

.errorContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}