.ui.grid > .column:not(.row) {
  padding: 0 !important;
}

/* mobile styles */

#iframe-pdf {
  display: none;
}

#pdf-png {
  display: block;
  width: 100%;
  margin-top: 3.75rem;
}

/* tablet + desktop styles */

@media only screen and (min-width: 825px) {
  #pdf-png {
    display: none;
  }

  #iframe-pdf {
    display: block;
    border: none;
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100vh;
  }
}